/* global start*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  color: #000000;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  line-height: 2;
  font-size: 1.2rem;
  /* padding-bottom: 200px; */

}


.main {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  height: 50px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer, .main:after {
  content: "";
  display: block;
}

.main:after {
  height: 50px;
}


.btn,
#editButton,
#changeDepartmentButton {
  background: #3498db;

  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;

  width: 100%;
  text-decoration: none;
}

.btn:hover,
#editButton:hover,
#changeDepartmentButton:hover {
  background: #3caffb;
  text-decoration: none;
}


.btn:focus {
  outline-offset: -1.5px;
  outline-style: solid;
  outline-color: #000000;
}


footer {
  background-color: #262626;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
  bottom: 0;
  position: relative;
}

footer div {
  margin-left: auto;
}




footer ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

footer li {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
}

/* global end*/

/*Mohammed start*/


.card {

  background-color: white;
  border-radius: 15px;
  padding: 12px;
  width: 50%;

  margin: auto;


  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.2);


}



.card .inputbox {
  position: relative;
  width: 80%;
  height: 50px;
  margin-bottom: 50px;

  margin: 25px auto;
}

.card .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  background: none;
  padding: 5px;
  border-radius: 15px;
  font-size: 1.2em;

}

.card .inputbox:last-child {
  margin-bottom: 0;
}

.card .inputbox label {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 1em;
  transition: 0.3s;
  font-family: sans-serif;
  color: #a7a7a7a3;
}

.card .inputbox input:focus~label,
.card .inputbox input:valid~label {
  transform: translateX(-13px) translateY(-30px);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.card .inputbox input:hover~label {
  color: rgb(0, 0, 0);
}

.card .inputbox input[type="date"] {
  text-align: center;
}

.card .inputbox input[type="radio"]~label {
  width: 80%;
  margin-top: 18px;
}

.card .inputbox input[disabled] {
  color: #676767a2;
  text-align: center;
  font-weight: bold;
}


hr.dashedHr {
  background-color: none;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  border-width: 10px;
  border-color: rgb(99, 99, 99);
  width: 10%;
  margin: 25px auto;



}

.navContener {
  background-color: #262626;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.2);

}




.navbar {
  min-height: 70px;
  display: flex;
  /* position: fixed; */

  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: -100%;
  flex-direction: row;
  background-color: #262626;
  text-align: center;
  width: 100%;
  transition: 0.3s;
}

.nav-brand {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.nav-link {
  transition: 0.7s ease;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(30, 143, 255);
}


.hamburger {
  display: block;
  cursor: pointer;

}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}


.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.nav-item {
  margin: 16px 0;
  list-style: none;
}

.nav-menu.active {
  left: 0;

}

a.active {
  color: dodgerblue;
  border-bottom: 4px solid dodgerblue;
  padding: 19px 0;

}



.res {
  text-align: none;

  display: inline-block;
  width: 45%;
  margin-bottom: 25px;

  color: #000000;
  padding: 0px 25px;
}

.sub {
  text-align: none;

  display: inline-block;
  width: 45%;
  margin-bottom: 25px;
  padding: 0px 25px;

  color: #000000;

}

/*Mohammed end*/

/*jone start*/
.password-wrapper {
  position: relative;
}

#id_password {
  padding-right: 30px;
}

#togglePassword {
  position: absolute;
  top: 30%;
  right: 5px;
  transform: translateY(-50%);
}




.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.tableName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tableHead {
  background-color: #f8f8f8;
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.tableList tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*jone end*/

/*Sahar start*/

#myInput {
  font-size: 22px;
  padding: 12px 20px 12px 20px;
  border: 3px solid #999999;
  margin-bottom: 50px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-align: center;
  width: 40%;
}

#searchType {
  height: 40px;
  width: 10%;
  /*padding: 10px 10px 10px 10px;*/
  border-radius: 10px;
  border-color: #146aa3;
  border-width: 2px;
  background-color: #3498db;
  /*margin-left: 10px;*/
  color: #ffffff;
  font-size: 16px;
  margin: 2px 0px 2px 4px;
  font-family: 'Merriweather', serif;
  padding: 2px 0px 2px 5px;
}

#searched {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 1400px;
  margin: 50px 0 50px 0;;
}

#searchTableHead tr {
  color: white;
  background-color: #4b5054;
  font-width: bold;
}

#searchTableBody {
  font-weight: normal;
}

#searchTableBody tr {
  border-bottom: 1px solid #dddddd;
}

#pageTitle {
  font-size: 2.7rem;
  margin: 30px 0px 40px 0px;
}

/*Sahar end*/


/*ahmed start*/

.start-header {
  display: flex;
  background-color: #262626;
}

.start-header h1 {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.container {
  width: 100%;
}

.projects {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.project {
  padding: 20px;
}

.project:hover {
  opacity: 90%;
}

.project a {
  text-decoration: none;
}

.project img {
  max-width: 100%;
  height: 70%;
  object-fit: cover;
}

.user-data-form {
  max-width: 400px;
  margin: 4em auto;
  margin-bottom: 1em;
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-data-form label {
  font-size: 1.2em;
  font-weight: bold;
}

.user-data-form input,
.user-data-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.user-data-form input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-data-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

.gender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 0.8em;
}

.gender-option {
  display: flex;
  position: relative;
}

.gender input {
  margin: 0;
  margin-right: 10px;
}


.home-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  height: 750px;
}

.home-body p,
.home-body h1 {
  text-align: left;
}



.home-main {
  padding: 20px;
}



/*ahmed end*/
