<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit student</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
        rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="navContener">
        <nav class="navbar">
            <a class="nav-brand">Students Affairs</a>

            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="add_student.html">Add New Student</a></li>
                <li class="nav-item"><a class="nav-link" href="student_list.html">Student List</a></li>
                <li class="nav-item"><a class="nav-link" href="search.html">Search</a></li>

            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

        </nav>
    </header>

    <hr class="dashedHr">
    <section class="main">

    <div class="card">
        <h1>Edit student</h1>

        <form id="editStudentForm" action="updaterecord/{{ student.id }}" method="post">
            {% csrf_token %}
            <div class="inputbox">
                <input type="text" name="name" id="name" value="{{ student.name }}"  required autofocus>
                <label for="name">Enter Your Name</label>
            </div>
            <div class="inputbox">
                <input type="email " name="email" id="email" value="{{ student.email }}" required>
                <label for="email">Enter Your Email</label>
            </div>
            <div class="inputbox">
                <input type="tel" name="mobile" id="mobile" value="{{ student.mobile }}" required disabled>
                <label for="mobile">Your Phone Number</label>
            </div>
            <div class="inputbox">
                <input type="number" name="IDnum" id="ID" value="{{ student.IDnum }}" required max="20231999" maxlength="9" disabled>
                <label for="ID">Your ID</label>
            </div>
            <div class="inputbox">
                <input type="text" name="birthDate" id="birthDate" value="{{ student.birthDate }}" required disabled>
                <label for="birthDate">Enter Your Birth Date</label>
            </div>
            <div class="inputbox">
                <input type="number" name="gpa" id="gpa" value="{{ student.gpa }}" step="0.01" required min="0" max="4">
                <label for="gpa">Enter Your GPA</label>

            </div>
            <div class="inputbox">
                <input type="number" name="level" id="level" value="{{ student.level }}" step="1" min="1" max="4" required>
                <label for="level">Enter Your Level</label>
            </div>
            <div class="inputbox">
                <input list="Department" id="dep" name="dep" value="{{ student.dep }}" required disabled>
                <label for="dep">Department</label>
                <datalist id="Department">
                    <option value="IT">IT</option>
                    <option value="IS">IS</option>
                    <option value="CS">CS</option>
                    <option value="DS">DS</option>
                </datalist>
            </div>
            <div class="inputbox">
                <input list="Gender" id="gender" name="gender" value="{{ student.gender }}" required>
                <label for="gender">Enter Your Gender</label>
                <datalist id="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </datalist>
            </div>
            <div>

                <div class="inputbox">
                    <input type="radio" name="status" id="active" value="active" checked>
                    <label for="active">Active</label>
                </div>
                <div class="inputbox">
                    <input type="radio" name="status" value="inactive" id="inactive">
                    <label for="inactive">Inactive</label>
                </div>
            </div>



            <div class="sub">
                <input class="btn" type="submit" name="save" id="save" value="save">
            </div>

        </form>
        <div class="res">
            <button type="button" a href="delete/{{ student.id }}" class="btn" id="delete">Delete</button>
        </div>
    </div>
    <hr class="dashedHr">
</section>
    <footer>
        <h3>Produced By</h3>
        <ul>
            <li>Mohammed Al-Mansori</li>
            <li>Ahmed Adel</li>
            <li>Sahar Mohamed</li>
            <li>John Samy</li>
            <li>Ahmed Mohamed</li>
        </ul>
    </footer>
    <!-- <script src="../js/edit_student.js"></script>
    <script src="../js/navbar.js"></script> -->
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/edit_student.js' %}"></script>


</body>

</html>