<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body class="home-body">
    <header class="navContener">
      <nav class="navbar">
        <a class="nav-brand">Students Affairs</a>

        <ul class="nav-menu">
          <li class="nav-item">
            <a class="nav-link active" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add_student.html">Add New Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="student_list.html">Student List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search.html">Search</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section class="main">
      <img src="{% static 'assets/cairo_university.jpg' %}" class="home-img" />
      <section class="home-main">
        <h1>Student Affairs</h1>

        <p>
          The Student Affairs office at Cairo University is responsible for
          managing the non-academic aspects of student life.
          <br />
          The office promotes student involvement in extracurricular activities,
          including student organizations, clubs, and societies. The office also
          organizes cultural and sports events to showcase student talents and
          creativity.
          <br />
          <br />
          Additionally, the office provides counseling and psychological
          services to support student well-being and manages housing and
          residential services.
          <br />
          Overall, the Student Affairs office at Cairo University plays a
          critical role in enhancing the student experience by offering a wide
          range of services and resources to support student success and
          engagement.
        </p>
      </section>
    </section>
    <footer>
      <h3>Produced By</h3>
      <ul>
        <li>Mohammed Al-Mansori</li>
        <li>Ahmed Adel</li>
        <li>Sahar Mohamed</li>
        <li>John Samy</li>
        <li>Ahmed Mohamed</li>
      </ul>
    </footer>
    <script src="{% static 'js/navbar.js' %}"></script>
  </body>
</html>
