<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
        rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
</head>

<body>
    <header class="start-header">
        <h1>Login</h1>
    </header>
    <form method="post" action="home.html" class="user-data-form">
        <label>
            Username
        </label>
        <br>
        <input type="text" name="username" required>
        <br>
        <label>
            Password
        </label>
        <br>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Login">

    </form>
    don't have account yet?
    <a href="signup.html">
        SignUp
    </a>
    <script src="../js/login_script.js"></script>

</body>

</html>