<!DOCTYPE html>
<html>

<head>
  <title>Group 32</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
  <div class="container">
    <header class="start-header">
      <h1>Welcome to Group 32 Website</h1>
    </header>
    <div class="projects">
      <div class="project" id="Students-Affairs">
        <a href="login.html">
          <img src="../assets/students-image.jpg" alt="Students Affairs" />
          <h2 class="btn">Students Affairs</h2>
        </a>
      </div>

      <div class="project" id="Higher-Studies">
        <a href="#">
          <img src="../assets/studies-image.png" alt="Higher Studies" />
          <h2 class="btn">Higher Studies</h2>
        </a>
      </div>

      <div class="project" id="Laboratory-Tracking">
        <a href="#">
          <img src="../assets/lab-image.png" alt="Laboratory Tracking" />
          <h2 class="btn">Laboratory Tracking</h2>
        </a>
      </div>

      <div class="project" id="Human-Resources">
        <a href="#">
          <img src="../assets/hr-image.jpg" alt="Human Resources" />
          <h2 class="btn">Human Resources</h2>
        </a>
      </div>
    </div>
  </div>
</body>

</html>